wurst
flask-babel
scipy
xarray
pandas
numexpr
alembic
Flask
Flask_SQLAlchemy
Flask_Mail
klausen
SQLAlchemy
rq
Flask_WTF
bw2io
Werkzeug
Flask_Migrate
Flask_Login
numpy
pytest
WTForms
pycountry
stats_arrays
PyPrind
redis
-e git+https://github.com/romainsacchi/carculator#egg=carculator
-e git+https://github.com/romainsacchi/carculator_utils#egg=carculator_utils
email-validator
mysqlclient
gunicorn
pyyaml
werkzeug<3.0