alabaster==0.7.12
appdirs==1.4.3
asteval==0.9.15
astroid==2.3.1
astunparse==1.6.2
Babel==2.7.0
bw2calc
bw2data
bw2io
bw2parameters
-e git+https://github.com/romainsacchi/carculator#egg=carculator
certifi
chardet
Click
colorama
docopt
docutils
eight
fasteners
Flask
future
idna
imagesize
itsdangerous
Jinja2
klausen
lazy-object-proxy
lxml
MarkupSafe
monotonic
numexpr
numpy
packaging
pandas
peewee
pipenv
presamples
psutil
Pygments
pyparsing
PyPrind
python-dateutil
pytz
PyYAML
requests
redis
rq
scipy
six
snowballstemmer
Sphinx
sphinx-autoapi
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stats-arrays
typed-ast
unicodecsv
Unidecode
urllib3
virtualenv
virtualenv-clone
voluptuous
Werkzeug
Whoosh
wincertstore
wrapt
xarray
xlrd==1.2.0
XlsxWriter==1.2.1
gunicorn
flask-mail
flask-babel
flask-sqlalchemy
flask-migrate
mysqlclient
flask-login
flask-wtf
WTForms
pycountry
email-validator
