

/*=======================================
Template Design By MarkUps  
Author URI : http://www.markups.io/
========================================*/

.mu-featured-slider-single::before,
#mu-counter:before,
.mu-filter-item-content,
.mu-simplefilter li:hover,
.mu-simplefilter li.active,
.mu-team-content-single:hover {
  background: #c762cb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #B06AB3, #c762cb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #B06AB3, #c762cb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mu-heading-title>span,
.mu-service-icon-box,
.mu-team-social-info a:hover,
.mu-team-social-info a:focus,
.mu-testimonial-slide .slick-dots li button::before,
.mu-testimonial-slide .slick-dots li.slick-active button::before,
.mu-footer-area a:hover,
.mu-footer-area a:focus {
  color: #c762cb;
}

.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus,
.mu-about-icon-box,
.mu-social-media a:hover,
.mu-social-media a:focus {
  border: 1px solid #c762cb;
  color: #c762cb;
}

.mu-testimonial-slide .slick-dots li button:hover,
.mu-testimonial-slide .slick-dots li button:focus,
.mu-testimonial-slide .slick-dots li.slick-active button {
  background-color: #c762cb;
}

.mu-contact-form .form-control:focus {
  border: 1px solid #c762cb;    
} 

